.btn-pink {
  background-color: #ff007f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.btn-pink:hover {
  background-color: #e60070;
  color: #fff;
}
